.col-sm-4 {
  padding-bottom: 20px;
}

.row {
  padding-bottom: 50px;
}

h1 {
  padding-bottom: 50px;
}

.list-group-item {
  border: none;
  background-color: transparent;
}

.ingredients-list {
  border-bottom: 1px solid #ccc;
}

small {
  padding: 0px 10px 0px 10px;
}

.delete-dose {
  float: right;
}

.cocktail {
  margin-top: 75px;
}
